/******************   ZAK   ******************/
.file_input{
    display: inline-block;
    padding: 10px 16px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    border-radius: 3px;
    color: #008BFF;
    border: 1px solid #008BFF;
    vertical-align: middle;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.file_input:hover,
.file_input:active {
    background: #008BFF;
    color: #fff;
}

/******************   INTEGRATION   ******************/
/*code couleur bleu facebook : rgb(59,89,152);*/

.page-profil{
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    min-height: 548px;
    background: url(../img/back-home.jpg);
    background-size: 820px;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.presentation{
    width: 40%;
    height: 140px;
    position: relative;
    left: 60%;
    color: white;
}
.txt1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.txt1_1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}
.txt2{
    text-align: left;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 25px 0 0 0 !important;
}
.slogan{
    color: rgb(59, 89, 152);
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 49px auto;
    text-align: center;
    width: 320px;
}
.slogan p{
    margin: 30px 0 20px 0;
}
button{
    border: none;
    background: rgb(59,89,152);
    color: white;
    border-radius: 5px;
    font-size: 18px;
}
.classement{
    width: 90%;
    height: 167px;
    background: rgba(255,255,255,0.5);
    margin: 50px 4% 0 5%;
/*
    margin-left: 2%;
    margin-right: 2%;
*/
    float: left;
}
.classement p{
    margin: 0;
    font-size: 18px;
    padding: 10px 0 0 15px;
    color: #3B5998;
}
.classement .participants{
    margin-top: 5px;
    height: 125px;
}
.classement .participants h3, .classement .participants .like, .classement .participants .partage{
    display:none;
}
/*
.classement img{
    width: 140px;
    height: 140px;
    float: left;
    background: rgba(0,0,0,0.6);
    margin-left: 1.8%;
    margin-top: 2%;
    
}
*/
footer{
    width: 100%;
    height: 37px;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 13px;
    margin-top: 52px;
    float: left;
}




/*---------------------------- Style de la page profils ----------------------------------------- */

.profils{
    background: white;
    float: left;
    height: 210px;
    margin: 0 auto 0 14px;
    width: 94%;
}
.profils h3{
    font-size: 25px;
    margin: 2.5% 0;
}
.image-profil{
/*    border: 2px dashed black;*/
    width: 25%;
    height: 190px;
    background: rgba(0,0,0,0.6);
    margin: 10px 6% 10px 13%;
    float: left;
}
.modifier-img{
    text-align: center;
}
.imgUtil {
    float: left;
    height: 120px;
    margin-top: 45px;
    overflow: hidden;
    width: 120px;
}
.classement-profils{
    width: auto;
    color: #2BA2E6;
    font-weight: bold;
    float: left;
}
.cpt-profils{
    width: auto;
    color: #2BA2E6;
    font-weight: bold;
    float: left;
}
.reseau-profil {
    margin: 90px auto;
    width: 15%;
    float: left;
}
.reseau-profil .like, .reseau-profil .partage{
    margin:0 6%;
}


/* ---------------------------- Fin du style de la page profils ----------------------------------------- */





/*************************      STYLE PAGE HOME    ****************************/
.page-home{
    max-width: 820px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 547px;
    background: url(../img/back-home.jpg);
    background-size: 820px;
    background-repeat: no-repeat;
}
.positionClassement{
    background: rgba(0,0,0,0.6);
    color: #fff;
    float: left;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    font-size: 14px;
}

/*************************      STYLE PAGE JE VOTE    ****************************/
html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
.page-jeVote, .page-jeParticipe{
    max-width: 820px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height: 563px;
    background: url(../img/back-home.jpg);
    background-size: 820px;
    background-repeat: no-repeat;
}
.header{
    text-align: center;
    color: white;
    font-size: 16px;
}
.header h1{
    color: white;
    text-align: center;
    font-size: 26px;
    padding: 10px 0 0 0;
    margin: 0;
    font-weight: 400;
}
.header h2{
    font-weight: 400;
    margin: 30px auto 0;
    width: 400px;
}
.header p{
    text-align: center;
    color: white;
    margin: 0 0 25px 0;
}
.header img{
    float: right;
    max-width: 200px;
    position: relative;
    right: 15px;
    top: -65px;
    width: 100%;
}
.page-home .header img{
    float: right;
    position: relative;
    right: 10px;
    top: -62px;
}
.btn-jeux{
    margin: 0 auto;
    float: left;
    margin-left: 5%;
}
.btnParticiper{
    background: #3B5998;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 12px;
    font-weight: 100;
}
.btnParticiper2{
    background: #3B5998;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 12px;
    font-weight: 100;
    margin: 0 auto;
    display: block;
    width: 120px;
}
.btnParticiper:hover, .btnVoter:hover, .btnParticiper2:hover{
    background: #FFF;
    color: #3B5998;
}
.btnVoter{
    background: #3B5998;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 11px 35px;
    font-weight: 100;
}
a, a:hover, a:link, a:visited, a:active {
    color: #fff;
    text-decoration: none;
}

.content{
    height: 358px;
    margin: 0 5%;
    width: 91%;
    background: rgba(255,255,255,0.6);
    float: left;
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.participants{
    width: 118px;
    height: 170px;
    float: left;
    margin: 1.5% 1.85%;
}
.img-participants{
    height: 120px;
    overflow: hidden;
    width: 120px;
}
.img-participants img{
    height: 120px;
}
.participants h3{
    font-size: 14px;
    text-align: center;
    margin: 6px 0;
}
.like {
    width: 55px;
    height: 20px;
    background: blue;
    float: left;
    cursor: pointer;
}
.partage{
    width: 55px;
    height: 20px;
    background: orange;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
._51mx:first-child {
    float: none;
}
._51mx {
    float: left;
}
._51mz {
    width: 120px;
}
.pts{
	padding-top:0px;
}
._51mx:last-child {
    float: right;
}
.fb-like span {
    width: 120px !important;
}

/*************************    FIN STYLE PAGE JE VOTE    ****************************/

/*************************      STYLE PAGE JE PARTICIPE    ****************************/
/*
.my-photo{
    width: 36.3%;
    height: 360px;
    background: white;
    float: left;
    margin: 1.5% 1.85%;
}
.bloc-photo-upload{
    border: 2px dashed #ADB3BB;
    text-align: center;
    height: 96%;
    color: #ADB3BB;
    border-radius: 5px;
    margin: 2%;
}
.bloc-photo-upload h2{
    font-size: 90px;
}
*/

/*************************     FIN STYLE PAGE JE PARTICIPE    ****************************/

.btn-jaime{
    text-align: center !important;
    width: 120px;
    margin-top: 10px;
    filter: alpha(opacity=60);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}
.btn-envoyer{
    background-color: #22A7F0;
    border: 0 none;
    color: #fff;
    height: 25px;
    width: 100px;
    cursor:pointer;
}
.btn-envoyer:hover{
    background-color: #fff;
    color: #22A7F0;
}

/* STYLE UPLOAD PARTICIPER */
.js .input-file-container {
    position: relative;
    width: 36.3%;
    float: left;
    margin: 1.5% 1.85%;
    text-align: center;
}
.js .input-file-trigger {
    display: block;
    padding: 166px 14px 166px 14px;
    background: #FFF;
    color: #444;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border: 2px dashed #ADB3BB;
}
.js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    padding: 14px 0;
    opacity: 0;
    cursor: pointer;
}

/* quelques styles d'interactions */
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus{
  background: #22A7F0;
  color: #FFF;
}

/* styles du retour visuel */
.file-return {
    margin-left: 15px !important;
    margin-top: -100px !important;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
/* on complète l'information d'un contenu textuel
   uniquement lorsque le paragraphe n'est pas vide */
.js .file-return:not(:empty):before {
  content: "Photo : ";
  font-style: normal;
  font-weight: normal;
}


/* STYLE UPLOAD PROFIL */
.js .modifier-img .input-file-container {
    position: relative;
    width: 36.3%;
    float: left;
    margin: 1.5% 1.85%;
    text-align: center;
}
.js .modifier-img .input-file-trigger {
    display: block;
    padding: 87px 14px 87px 14px;
    background: #FFF;
    color: #444;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border: 2px dashed #ADB3BB;
}
.js .modifier-img .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    padding: 14px 0;
    opacity: 0;
    cursor: pointer;
}

/* quelques styles d'interactions */
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus{
  background: #22A7F0;
  color: #FFF;
}

/* styles du retour visuel */
 .modifier-img .file-return {
    margin-left: 15px !important;
    margin-top: -100px !important;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
/* on complète l'information d'un contenu textuel
   uniquement lorsque le paragraphe n'est pas vide */
.js .file-return:not(:empty):before {
  content: "Photo : ";
  font-style: normal;
  font-weight: normal;
}